body {
  background: #87ceeb;
  font-family: Arial, sans-serif;
}

.container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background: white;
  text-align: center;
  border-radius: 10px;
}

input {
  width: 90%;
  padding: 8px;
  margin-bottom: 10px;
}

button {
  padding: 8px 15px;
  cursor: pointer;
}

#weatherResult {
  margin-top: 15px;
}

@media (max-width: 500px) {
  .container {
    width: 90%;
    padding: 20px;
  }

  h2 {
    font-size: 20px;
  }

  input {
    width: 100%;
  }
}
